[user]
    name = Dogus Kaan Bilir
	email = bilir@dkrz.de

[init]
    defaultBranch = main

[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    co = checkout
    br = branch
    ci = commit
    st = status
    d = difftool

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[url "git@github.com:"]
    insteadOf = https://github.com/
