[user]
    name = Dogus Kaan Bilir

[init]
    defaultBranch = main

[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    co = checkout
    br = branch
    ci = commit
    st = status
    d = difftool

[diff]
    tool = vimdiff

[difftool]
    prompt = false
